/* Les fichiers scss voués à être importés par d'autre fichiers commencent pas un underscore _ */



$base-margin: 2rem;
$big-margin: 2 * $base-margin;

$font-title: 'Oswald', sans-serif;

$main-color: #1aabee;
$ligh-grey: #f0f0f0;
$black: #000;
$grey: #777;
$dark-color: #101010;
$footer-text-color: #ccc;
